.weel-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  align-items: center;
  overflow: hidden;
  margin-top: 0%;
  padding-top: 49%;
  .wheel {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50px;
  }
}
.card {
  margin: 0;
  padding: 0;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: blue;
}
