.navebar {
  .navbar-wrapper {
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      li {
        list-style-type: none;
        margin: 30px 20px;
        a {
          font-family: "Work Sans";
          font-size: 14px;
          font-weight: 400;
          color: #000;
          cursor: pointer;
        }
      }
    }
  }
}
